* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hero-section {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #24170f;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(
      to bottom,
      rgba(219, 52, 58, 0.9),
      rgba(36, 23, 15, 0.85)
    ),
    url("../images/hero_background.jpg");

  background-size: cover;
  background-position: center 75%;
  background-repeat: no-repeat;

  filter: blur(6px);
  transform: scale(1.04);
}